<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
    <title>Анализатор страниц</title>
</head>
<body>
    <header class="flex-shrink-0">
        <nav class="navbar navbar-expand-md navbar-dark px3 bg-dark">
            <a class="navbar-brand" href="/">Анализатор страниц</a>
                <div id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="navbar-item"><a class="nav-link" href="">Сайты</a></li>
                    </ul>
                </div>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>